@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




body {
background-color: hsl(0, 0%, 0%);
inline-size: min(75rem,100% - 2rem);
margin-inline: auto;
min-block-size: 100dvh;
display: flex;
justify-content: center;

}
